body {
  margin: 0;
}

.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: rgb(241, 240, 240);
  height: 200;
  height: auto;
}

.body {
  width: 90%;
  align-self: center;
  max-width: 1098px;
  background: white;
  display: flex;
  justify-content: center;
}
