nav {
  width: 100%;
  background: #302950;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Nav {
  color: white;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  width: 100%;
  max-width: 1098px;
}

.Nav input {
  font-size: 24px;
  height: 42px;
  border-radius: 3px;
  border: 1px solid white;
  padding-left: 10px;
  margin-left: 20px;
  display: flex;
  border: #c4c3c3 1px solid;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #111;
}

.Nav h1 {
  font-size: 25px;
  margin-left: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: -0.05em;
  font-weight: bold;
  color: #eee;
}

.Nav .left {
  display: flex;
}

.Nav .left .search {
  display: flex;
}
.Nav i {
  color: #eee;
}

.button {
  height: 42px;
  width: 42px;
  border-radius: 3px;
  padding: 10px;
  border: #f02 1px solid;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #f02;
}

.button:hover {
  background: white;
  border: 1px solid #ccc;
  color: #302950;
}

.cart {
  color: #fff;
  border: none;
  background: none;
  border-radius: 30px;
}
.cart:hover {
  background: white;
  border: 1px solid #ccc;
  color: #302950;
}

@media only screen and (max-width: 1098px) {
  .Nav {
    height: min-content;
    justify-content: center;
  }
  .Nav .left {
    flex-direction: column;
  }

  .Nav h1 {
    font-size: 20px;
  }

  .Nav input {
    font-size: 14px;
    height: 24px;
  }

  .Nav .button {
    height: 24px;
    width: 24px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
